<head>
  <title>Yesu's Resume</title>
</head>

<div class="main_container container-fluid">

 <%=link_to 'Download Me!', download_pdf_path, class:"download_pdf"%>

 <!-- Education -->
 <section class="section">
   <h2 class="header">Education</h2>
     <span>Bachelor of Arts</span>
     <div class="location"> May 2019, Colgate University, Hamilton, NY </div>

    <ul class="bullets">
     <li> Overall GPA: 3.56/4.0 </li>
     <li> Double Major: Computer Science and Japanese Language </li>
     <li> Magna Cum Laude Graduate </li>
     <li> Dean's Award For Academic Excellence (All Semesters) </li>
   </ul>

 </section>

 <!-- Technical Knowledge -->
 <section class="section">
   <h2 class="header">Technical Knowledge</h2>

     <div class="set">
       <div class="h4">
         Frameworks and Experience
       </div>
       <%-fworks= {'Ruby-On-Rails' => 2, 'Node JS' => 1, 'AngularJS' => 1} %>
       <%-fworks.each do |name, exp|%>
         <ul class="bullets">
           <li>
             <div class="name">
               <%="#{name}"%>
             </div>
             <div class="progress active">
               <%if 1 < exp %>
                  <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><%="#{exp} years"%></div>
               <%elsif 1 == exp %>
                  <div class="progress-bar w-50" role="progressbar"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><%="#{exp} years"%></div>
               <%else%>
                  <div class="progress-bar w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%="#{exp} years"%></div>
               <%end%>
             </div>
           </li>
         </ul>
      <%end%>
     </div>

     <div class="set">
       <div class="h4">
         Languages and Proficiency
       </div>
       <div class="container">
         <div class="col">

           <div class="row">
             <div class="col hex-header">
               High
             </div>
             <div class="col hex-header">
               Intermediate
             </div>
           </div>
           <div class="row">
             <div class="col hex-container">
               <div class="hexagon">
                 <div class="text_box">
                   Java, GoLang, Ruby, Python
                 </div>
               </div>
             </div>
             <div class="col hex-container">
               <div class="hexagon">
                 <div class="text_box">
                   HTML, CSS, JavaScript, SQLite
                 </div>
               </div>
             </div>
           </div>
         </div>

         <div class="col">
           <div class="h4">
             Frequently Used Tech Tools
           </div>
           <%-toolList= {'Github' => 'Version Control', 'Jira & Pivotal Tracker' => 'Features & Project Velocity', 'CircleCI' => 'Continuous Integration and Deployment', 'Heroku' => 'App Deployment'}%>
           <%toolList.each do |tool, desc|%>
            <ul class="bullets">
              <li>
                <%="#{tool} - #{desc}"%>
               </li>
            </ul>
          <%end%>
         </div>


       </div>
     </div>

     <div class="set">

     </div>

     <div class="set">
       <div>
         Certifications & Courses
       </div>
       <div class="courses">
         Software Engineering, Databases, Algorithm Analysis, Operating Systems, Discrete Structures
       </div>
     </div>
 </section>

 <!-- Projects -->
 <section class="section">
   <h2 class="header">Projects</h2>
   <div class="set">
     <a href="https://github.com/yesuc/FAD-Webapp" rel="noopener noreferrer" target="_blank"> Allergens and Dietary Restrictions Web App</a>
     <div class="location"> Summer 2018 - Colgate University, Hamilton, NY </div>
     <ul class="bullets">
        <li> Utilized NLTK and OCR technology to gather resturant foods and identify common and hidden allergens. Written using the Ruby on Rails Framework. Received a $4,500 research grant under The Division of Natural Sciences at Colgate for this project. </li>
     </ul>
   </div>

   <div class="set">
      Parent Teacher Org. Full Stack Web App
      <div class="location"> Spring 2018 - Hamilton Central High School, Hamilton, NY </div>
      <ul class="bullets">
        <li> Developed a Ruby on Rails Web App in an Agile Dev-team of 6, solidified the foundations for Hamilton High School's new PTO. </li>
      </ul>
   </div>

   <div class="set">
     Student Data Collection UI
     <div class="location"> Spring 2017 - Colgate University </div>
     <ul class="bullets">
       <li> Independent project, designed and developed a UI and Backend Program to automatically collect and organize CS student information. Written in Java using Javax Swing Package.</li>
     </ul>

   </div>
 </section>



</div>
